<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Spoon_full_o_sugar"
        tools:targetApi="31">
        <activity
            android:name=".activity_del_sched"
            android:exported="false" />
        <activity
            android:name=".activity_view_sched"
            android:exported="false" />
        <activity
            android:name=".activity_sched_spec_days"
            android:exported="false" />
        <activity
            android:name=".activity_sched_daily"
            android:exported="false" />
        <activity
            android:name=".activity_add_to_sched"
            android:exported="false" />
        <activity
            android:name=".activity_view_hist"
            android:exported="false" />
        <activity
            android:name=".activity_log_meds"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".DayChangeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>